
body {
    background:url(/uploads/lada.webp);
    background-repeat: no-repeat;
    background-attachment:fixed; //不滚动
    background-size: cover; //填充
    background-position: top center;
//    @media (prefers-color-scheme: dark) {
//    background-image: none;
//  }
}

.content-wrap {
  opacity: 0.85;
}

.sidebar {
  opacity: 1;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 1;
}

.main-inner{
	opacity: 0.99;
}
// .header-inner{
// 	opacity: 0.95;
// 	z-index: 10;
// }

.math {
  text-align: center;
}

figcaption {
  text-align: center;
}

.index .post-body {
  text-align: center !important;
}

.headband {
    height: 3px;
    background: grey;
}

// .site-brand-container {
//     background: #134857
// }

.site-title {
  color: white
  font-weight: normal
  opacity: 1
}

.site-subtitle {
  color: white
}

.site-brand-container {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

