$content-desktop         = 100%
$content-desktop-large   = 100%
$content-desktop-largest = 100%

body {
    background:url(/uploads/astro1.webp);
    background-repeat: no-repeat;
    background-attachment:fixed; //不滚动
    background-size: cover; //填充
    background-position: top center;
//    @media (prefers-color-scheme: dark) {
//    background-image: none;
//  }
}

.content-wrap {
  opacity: 0.85;
}

.sidebar {
  opacity: 1;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 1;
}

.main-inner{
	opacity: 0.99;
}
// .header-inner{
// 	opacity: 0.95;
// 	z-index: 10;
// }

.math {
  text-align: center;
}

figcaption {
  text-align: center;
}

.index .post-body {
  text-align: center !important;
}