$font-family = "serif";
$font-family-chinese = "Noto Serif SC";
$font-family-base = "Noto Serif SC";
$font-family-posts = "Noto Serif SC"
$font-family-headings = "Noto Serif SC"
$font-family-logo = "Noto Serif SC"

$border-radius-inner     = 3px 3px 3px 3px;
$border-radius           = 3px;

$content-desktop         = 87%
$content-desktop-large   = 87%
$content-desktop-largest = 78%

$orange       = #D3D3D3