$font-family = "serif";
$font-family-chinese = "Noto Serif SC";
$font-family-base = "Noto Serif SC";
$font-family-posts = "Noto Serif SC"
$font-family-headings = "Noto Serif SC"
$font-family-logo = "Noto Serif SC"