$font-family = "EB Garamond", "Noto Serif SC", serif;
$font-family-chinese = "EB Garamond", "Noto Serif SC", serif;
$font-family-base = "EB Garamond", "Noto Serif SC", serif;
$font-family-posts = "EB Garamond", "Noto Serif SC", serif;
$font-family-headings = "EB Garamond", "Noto Serif SC", serif;
$font-family-logo = "EB Garamond", "Noto Serif SC", serif;

$border-radius-inner     = 3px 3px 3px 3px;
$border-radius           = 3px;

$content-desktop         = 87%
$content-desktop-large   = 87%
$content-desktop-largest = 78%

$orange       = #D3D3D3